body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar-nav {
  display: flex !important;
  visibility: visible !important;
}

.nav-item {
  display: flex !important;
}

.nav-link {
  display: block !important;
  color: #000 !important;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
